<html>
<head>

    <meta charset="UTF-8">
    <title>Wish.io</title>
    <meta name="description" content="The Universal Web Wish List">
    <meta name="author" content="LinkedIn HackDay 2012">

    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

</head>

<body>
    <div class="container">
        <div class="logo">
            <h1>wish.io</h1>
        </div>
    </div>
</body>

</html>